.card {
  width: 100%;
  max-width: 62.5rem;
  //background-color: color-mix(in srgb, var(--color-surface), white 30%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.continueButton {
  align-self: flex-end;
}

@media (max-width: 64rem) {
  .header {
    align-items: stretch;
    flex-direction: column;
  }
}