.summary {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);
}