.page {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
}

.invalidSelection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--mantine-spacing-sm);
  margin-top: var(--mantine-spacing-sm);
}